/* Colors */
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
}

/* Fonts */
@font-face {
  font-family: Figtree;
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Figtree Italic';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: Figtree, sans-serif;
  font-family: 1rem;
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 350px;
  margin: 25px;
  padding: 18px;
  background-color: var(--white);
  border: 1px solid var(--gray950);
  border-radius: 18px;
  box-shadow: 8px 8px 0 0 rgb(0, 0, 0);
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__learning {
  display: block;
  background-color: var(--yellow);
  text-align: center;
  border-radius: 5px;
  width: 90px;
  font-size: 0.938rem;
  font-weight: 800;
  padding: 5px;
}

.card__date {
  font-size: 0.938rem;
}

.card__title {
  font-weight: 800;
  font-size: 1.5rem;
}

.card__title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card__text {
  color: var(--gray500);
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar__img {
  width: 35px;
  height: 35px;
}

.avatar__name {
  margin-left: 15px;
  font-weight: 700;
}
